   .container {
      min-height: 100vh;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bar {
      width: 100%;
    }
    // .toolBar {
    //   display: 'flex',
    //   justifyContent: 'space-between',
    // },
    // main: {
    //   flexGrow: 1,
    // },